@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: black;
  background: white;
  --primary: #2d2d2d;
  --secondary: #535353;
  --bg: #f1f1f1;
  margin: 0 10%;
  background-color: var(--bg);
}
h1 {
  font-family: "Inspiration", cursive;
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  color: var(--primary);
}
h3 {
  color: var(--secondary);
  font-size: 1rem;
}
a {
  text-decoration: none;
}
